.header{
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
}
.logo img {
    width: 45px;
    margin-left: 40px;
}
.header a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
